.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 15px;
}
.v-navigation-drawer--mini-variant .v-list-item > *:first-child {
  margin-right: 0px;
}

.v-navigation-drawer .v-list-item__title {
  font-size: 14px !important;
}
